/* header */
img.menuBurger {
    display: none;
}

header {
    position: relative;
    // padding-top: 30px;
    // background-color: rgba(255, 255, 255, 0.293);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 30px 15% 10px;
    align-items: center;
    z-index: 2;
    transition: .2s;

    a {
        font-size: 20px;
        text-decoration: none;
        color: black;


        h1 {
            // padding: 10px;
            border-radius: 10px;
            // background-color: rgba(255, 255, 255, 0.167);
            font-size: 30px;
            transition: .2s;
        }
    }

    a:hover {
        text-decoration: underline;
    }

    nav {
        gap: 30px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        transition: .5s;
        height: 50px;
        margin: 10px;

    }



}

header:hover {

    background-color: rgb(255, 255, 255);

    h1 {
        border-radius: 10px;
        // background-color: rgba(255, 255, 255, 0.66);
    }

    nav {
        gap: 33px;
    }

}

@media screen and (max-width: 1250px) {
    header {
        a {
            font-size: 15px;

            h1 {
                font-size: 20px;
            }
        }


    }
}




@media screen and (max-width: 900px) {
    img.menuBurger {
        display: block;
        width: 60px;
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 10;
    }

    header {
        background-color: white;
        margin-top: -780px;
        height: 700px;
        flex-flow: column nowrap;
        justify-content: left;
        gap: 100px;

        h1 {
            font-size: 30px;
            text-align: center;
        }

        nav {
            font-size: 20px;
            flex-flow: column nowrap;
            gap: 30px;
        }
    }

    header:hover {
        nav {
            gap: 30px;
        }
    }

    .mobile-menu {
        background-color: #ffffff;
        margin-top: 0px;
        z-index: 9;
        height: 50vh;
    }
}