// Dans la page d'accueil

figure.accueilFigure {
    width: 100vw;
    height: 105vh;
    z-index: 0;
    position: relative;
    top: -130px;
    left: 0;
    overflow: hidden;
    margin-bottom: -180px;

    .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        justify-content: center;

        img {
            // filter: brightness(0.7);
            position: absolute;
            transform: translate(-50%, -15%);
            height: 150vh;
            left: 50%;
            top: 0;
            transition: .2s;
        }


        .evenement {
            padding: 10px;
            margin-left: -10px;
            position: absolute;
            bottom: 10%;
            left: 15%;
            color: black;
            transition: .5s;
            display: flex;
            flex-flow: column nowrap;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 10px;

            a {
                text-decoration: none;
                color: black;
            }
        }

        .evenement:hover {
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            gap: 50px;
        }
    }
}


// Dans les pages des expositions

figure.expoFigure {
    width: 100vw;
    height: 70vh;
    z-index: 0;
    position: relative;
    top: -130px;
    left: 0;
    overflow: hidden;

    .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            transform: translate(0, -10%);
            width: 100vw;
            top: 0;
            transition: .2s;
        }

        // img:hover {
        //     width: 101vw;
        // }

        .evenement {
            position: absolute;
            bottom: 10%;
            left: 10%;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    figure.accueilFigure {
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .evenement {
            left: 0;
            width: 67%;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            gap: 50px;
        }
    }

    figure.expoFigure {
        height: 50vh;
        top: -100px;

        .imageContainer {
            img {
                width: 100%;
                // height: 50vh;
                margin-top: 130px;
                transform: translate(0, 0%);
            }

            // img:hover {
            //     width: auto;
            // }
        }
    }

    main {
        // margin-top: -150px;
    }

}