main {
    padding-top: 100px;
    padding: 30px 15% 10px;
}

.hidden {
    display: none;
    transition: .2s;
}

.rotateSpan {
    text-decoration: none;
    color: white;
    background-color: #252525;

    span {
        transform: rotate(180deg);
    }
}

.gridArchives {
    transition: .2s;

    // lien de l'exposition
    .containerAnnee {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        // display: flex;
        // flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        gap: 30px;

        .expoCard {
            width: 350px;
            height: 250px;
            overflow: hidden;
            position: relative;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 300px;
                transition: .2s;
            }

            p {
                position: absolute;
                bottom: 15%;
                left: 10%;
                color: white;
                font-size: 20px;
                transition: .5s;
                transform: translate(0%, -50%);
            }

            .aDevoilerTitre {
                font-size: 15px;
                font-style: italic;
                bottom: -20%;
            }

            .aDevoilerDate {
                font-size: 15px;
                transition: .5s;
                bottom: -70%;
            }


        }

        .expoCard:hover {
            img {
                height: 310px;
                filter: blur(7px) brightness(0.8);

            }

            p {
                bottom: 30%;
            }

            .aDevoilerTitre {
                bottom: 20%;
            }

            .aDevoilerDate {
                bottom: 5%;
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    main {

        .gridArchives {

            .containerAnnee {
                grid-template-columns: repeat(2, 350px);
            }
        }
    }
}

@media screen and (max-width: 800px) {

    main {
        margin-top: 0px;

        .gridArchives {
            display: flex;
            flex-flow: row nowrap;
            overflow: auto;

            .containerAnnee {
                display: flex;
                flex-flow: row nowrap;
                gap: 30px;
            }
        }
    }
}