main {
    padding-top: 100px;
    padding: 30px 15% 10px;
}

.hidden {
    display: none;
    transition: .2s;
}

.rotateSpan {
    text-decoration: none;
    color: white;
    background-color: #252525;

    span {
        transform: rotate(180deg);
    }
}

.gridArchives {
    transition: .2s;
    width: 100%;

    // lien de l'exposition
    .containerAnnee {
        // display: grid;
        // grid-template-columns: repeat(3, 350px);
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;

        gap: 1vw;

        .expoCard {
            width: 22vw;
            height: 15vw;
            overflow: hidden;
            position: relative;
            transition: .2s;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 105%;
                transition: .2s;
            }

            p {
                position: absolute;
                bottom: 15%;
                left: 10%;
                color: white;
                font-size: 20px;
                transition: .5s;
                transform: translate(0%, -50%);
            }

            .aDevoilerTitre {
                transform: translate(0%, 50%);
                font-size: 15px;
                font-style: italic;
                bottom: -20%;
            }

            .aDevoilerDate {
                font-size: 15px;
                transition: .5s;
                bottom: -70%;
            }


        }

        .expoCard:hover {
            img {
                height: 115%;
                filter: blur(7px) brightness(0.8);

            }

            p {
                bottom: 30%;
            }

            .aDevoilerTitre {
                bottom: 25%;
            }

            .aDevoilerDate {
                bottom: 5%;
            }
        }
    }
}



@media screen and (max-width: 1250px) {
    main {

        .gridArchives {

            .containerAnnee {
                .expoCard {
                    width: 33vw;
                    height: 22.5vw;

                    p {
                        font-size: 17px;

                    }

                    .aDevoilerTitre,
                    .aDevoilerDate {

                        font-size: 13px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {

    main {
        margin-top: 0px;

        .gridArchives {
            display: flex;
            flex-flow: row nowrap;
            overflow: auto;

            .containerAnnee {
                display: flex;
                flex-flow: row nowrap;
                gap: 30px;

                .expoCard {
                    width: 290px;
                    height: 200px;
                }

            }
        }

        .gridArchives::-webkit-scrollbar {
            display: none;
        }
    }
}